# FastAPI
fastapi
uvicorn[standard]
python-multipart

# Environment variables
python-dotenv

# LangChain
langchain
langchain-core
langchain-text-splitters

# Upstage
langchain-upstage

# Chroma Vector Database
langchain-chroma
chromadb

# Google Gemini
langchain-google-genai
google-genai

# PDF / HTML processing
beautifulsoup4